'atom-workspace':
    'ctrl-x g': 'github:toggle-git-tab'
    'ctrl--': 'core:undo'
    'alt-x': 'command-palette:toggle'
    'ctrl-x 2': 'pane:split-down-and-copy-active-item'
'.platform-darwin atom-workspace':
    'ctrl-x j': 'open-terminal-here:open'
'.editor':
    'cmd-i': 'editor:auto-indent'
    'ctrl-x :': 'go-to-line:toggle'
    'cmd-r': 'window:reload'
    'ctrl-x alt-i': 'atom-insert-image:insert'
'atom-text-editor:not([mini])':
    'ctrl-j': 'emmet:expand-abbreviation'

# 'ctrl-x alt-j' finderをひらきたい
