'.source.js':
    'import':
        'prefix': 'import'
        'body': 'import $1 from \'$1\';'
    'require':
        'prefix': 'require'
        'body': 'const $1 = require(\'$1\');'
    'jsdoc':
        'prefix': 'jsdoc'
        'body': """
            /**
             * $1
             */
        """

'.source.js.embedded.html':
    'import':
        'prefix': 'import'
        'body': 'import $1 from \'$1\';'
    'require':
        'prefix': 'require'
        'body': 'const $1 = require(\'$1\');'

'.source.css.scss':
    'nospan':
        'prefix': 'nospan'
        'body': """
            span {
                display: none;
            }
        """

'.text.html.vue':
    'hinagata':
        'prefix': 'hinagata'
        'body': """
            <template lang="pug">
            .$1
            </template>

            <style lang="scss" scoped>
            </style>

            <script>
            export default {
                name: '$1',
            };
            </script>
        """
